<!--By Oleksiy Grechnyev
  Edit or delete my account-->

<!--Edit account-->
<div class="alert alert-danger" ng-show="controller.updateMessage">
    {{controller.updateMessage}}
</div>
<h1> Account details </h1>

<!--Account details form-->
<form role="form" ng-submit="controller.update()">
    <div class="form-group">
        <label for="login">Login Name:</label> <input type="text" required
                                                      class="form-control" id="login" name="login"
                                                      ng-model="controller.user.login" readonly/>
    </div>
    <div class="form-group">
        <label for="fullName">Full Name:</label> <input type="text" required
                                                        class="form-control" id="fullName" name="fullName"
                                                        ng-model="controller.user.fullName"/>
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label> <input type="email" required
                                                  class="form-control" id="email" name="email"
                                                  ng-model="controller.user.email"/>
    </div>
    <button type="submit" class="btn btn-primary">Change</button>

</form>

<hr/>
<!--Delete account-->
<div class="alert alert-danger" ng-show="controller.deleteMessage">
    {{controller.deleteMessage}}
</div>
<h1> Delete my account </h1>

<h2> Confirm with password </h2>

<form role="form" ng-submit="controller.delete()">
    <div class="form-group">
        <label for="dpassw">Password:</label> <input type="password" required
                                                     class="form-control" id="dpassw" name="dpassw"
                                                     ng-model="controller.passw"/>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>