<!--By Oleksiy Grechnyev-->

<div class="container">

    <h1> Ask a question </h1>

    <h3 class="text-info"> Before asking anything here,
        Search to make sure your question has not been asked before</h3>

    <div class="alert alert-danger" ng-show="controller.newPostMessage">
        {{controller.newPostMessage}}
    </div>
    <!--New Post Form-->
    <form role="form" ng-submit="controller.create()">
        <!--Title-->
        <div class="form-group">
            <label for="title">Title:</label> <input type="text" maxlength="200" required
                                                     class="form-control" id="title" name="title"
                                                     ng-model="controller.newPost.title"/>
        </div>
        <!--Category editor-->
        <div class="form-group">
            <label for="cats">Categories:</label>

            <select class="form-control" id="cats" name="cats" size="5"
                    ng-model="controller.selectedCat1"
                    ng-options="controller.catById(x) for x in controller.updatedCats">
            </select>
        </div>

        <div class="form-inline">
            <button type="button" class="btn btn-primary" ng-click="controller.deleteCat()"> Delete</button>

            <button type="button" class="btn btn-primary" ng-click="controller.addCat()"> Add</button>

            <select class="form-control"
                    ng-model="controller.selectedCat2"
                    ng-options="controller.catById(x) for x in controller.allCats">
            </select>
        </div>

        <!--Text-->
        <div class="form-group">
            <label for="text">Text:</label> <textarea rows="20" maxlength="2000" type="text" required
                                                      class="form-control" id="text" name="text"
                                                      ng-model="controller.newPost.text"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>

    </form>

</div>