<div class="container">

    <h3>{{controller.post.title}} </h3>
    <h5>{{controller.post.userLogin}} {{controller.timeToString(controller.post.timeStamp)}} </h5>


    <!--Normal text viewer: text + optional 2 buttons-->
    <div ng-show="!controller.editingPost">
        <div class="text-warning">
        <span ng-repeat="x in controller.catAsList(controller.post)">
            {{x}} &nbsp; &nbsp; &nbsp;
        </span>
        </div>

        <pre class="lead">{{controller.post.text}}</pre>
        <button class="btn btn-primary" ng-show="controller.post.editable"
                ng-click="controller.edit()">Edit
        </button>

        <button class="btn btn-primary" ng-show="controller.post.editable || isAdmin"
                ng-click="controller.delete()">Delete
        </button>
    </div>

    <!--Post editing form (Categories and Text)-->
    <form role="form" ng-submit="controller.update()" ng-show="controller.editingPost">
        <div class="form-group">
            <label for="cats">Categories:</label>

            <select class="form-control" id="cats" name="cats" size="5"
                    ng-model="controller.selectedCat1"
                    ng-options="controller.catById(x) for x in controller.updatedCats">
            </select>
        </div>
        <div class="form-inline">
            <button type="button" class="btn btn-primary" ng-click="controller.deleteCat()"> Delete</button>

            <button type="button" class="btn btn-primary" ng-click="controller.addCat()"> Add</button>

            <select class="form-control"
                    ng-model="controller.selectedCat2"
                    ng-options="controller.catById(x) for x in controller.allCats">
            </select>
        </div>

        <!--{{controller.selectedCat1}} {{controller.selectedCat2}}-->
        <!--<br />-->
        <!--{{controller.updatedCats}}-->

        <div class="form-group">
            <label for="text">Text:</label> <textarea rows="15" type="text" required
                                                      class="form-control" id="text" name="text"
                                                      ng-model="controller.updatedText"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
        <button type="cancel" class="btn btn-primary" ng-click="controller.cancel()">Cancel</button>

    </form>

    <!--Comments-->
    <div ng-repeat="com in controller.comments">
        <!--Header: comment author and timestamp-->
        <h5>{{com.userLogin}} {{controller.timeToString(com.timeStamp)}} </h5>

        <!--Normal (non-editing version)-->
        <div ng-show="com.id != controller.editingComment">
            <!--Comment body (text)-->
            <pre>{{com.text}}</pre>

            <!--Edit and delete buttons-->
            <button type="button" class="btn btn-primary" ng-show="com.editable"
                    ng-click="controller.editComment(com.id)">
                Edit
            </button>

            <button type="button" class="btn btn-primary" ng-show="com.deletable"
                    ng-click="controller.deleteComment(com.id)">
                Delete
            </button>
        </div>
        <!--Editing version-->

        <form role="form" ng-submit="controller.updateComment()" ng-show="com.id == controller.editingComment">
            <div class="form-group">
                <label for="ecText">Editing Comment </label>
                <textarea rows="10" type="text" required
                          class="form-control" id="ecText" name="ecText"
                          ng-model="controller.editCommentText"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Apply</button>
            <button type="button" class="btn btn-primary" ng-click="controller.cancel()">Cancel</button>
        </form>

    </div>

    <!--Add comment-->

    <form role="form" ng-submit="controller.addComment()" ng-show="isAuthenticated">
        <div class="form-group">
            <label for="ncText">New Comment </label>
            <textarea rows="10" type="text" required
                      class="form-control" id="ncText" name="ncText"
                      ng-model="controller.newCommentText"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>